body{
    text-align: center;
    background-color:  hsl(212, 45%, 89%)
    
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.container{
    background-color:hsl(0, 0%, 100%) ;
    border-radius: 20px;
    padding: 1rem;
    margin: 0;
}
img{
    border-radius: 20px;
}
.Card > *{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    width: 300px;
    box-sizing: border-box;
}
.content{
    padding: 5px;
}
span{
    padding: 15px 0px;
}
p{
    font-weight: 400 !important;
    font-size: 15px !important;
    color: hsl(220, 15%, 55%)
}
footer{
    
    padding-top: 2.2em;
}